
@import '../../styles/mixin';

.picCard{
//height: 400px;
background: url('https://picsum.photos/id/237/200/300') center center no-repeat;
background-size: cover;
padding-top: 120%;
border-radius: 5%;
&:hover{
    @include hoverCard;
    cursor: pointer;
}
}

//@include mediaHeight(".picCard",350px,300px,250px);