$primary: #28df99;
$secondary: #5cb874;
$darkbg: #3e978b;
$lightbg: #f6f7d4;
$green-light: #C6F6D5;
$green-lightest: #F0FFF4;
$green:#68D391;
$green-dark:#38A169;
$teal-lightest:#E6FFFA;
$teal-light:#81E6D9;
$teal: #38B2AC;
$teal-dark:#2C7A7B;

