.order-main{
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgb(90, 82, 82);
}

#editorjs{
    
    h1{
        padding-top: 20px !important;
        font-size: 2.5rem !important;
    }
    h2{
        padding-top: 20px !important;
        font-size: 2.25rem !important;
    }
    h3{
        padding-top: 20px !important;
        font-size: 2rem !important;
    }
    h4{
        padding-top: 20px !important;
        font-size: 1.5rem;
    }
    h5{
        font-size: 1rem;
    }


}

.ce-toolbar__actions{
    left:-40px !important;
    right:0 !important;
    
}

.codex-editor__redactor{
    padding-bottom: 30px !important;
}

.activeLabel{
    font-weight: bold;
    color:orange;
}

.react-select{
    min-width: 300px !important;
}